{% extends "bootstrap/base.html" %}

{% block content %}
<html lang="en">
  <head>
  <title>Sudoku Solver</title>

    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="jumbotron-narrow.css" rel="stylesheet">

  </head>

  <body>

  </br>
  </br>
  <div class="container">
      <div class="header clearfix">
        <h1>Sudoku Solver</h1>
      </div>

      <div class="jumbotron">
        <h3>Just try uploading a sudoku photo here and see what happens...</h3>

        <form name='upload' action='upload' placeholder='upload' method='POST' enctype="multipart/form-data">

          <input type='file' name='userFile'><br>
          <input type="submit" value="Upload the photo" class="submitButton"/>
        </form>

    </div> <!-- /container -->

   </body>

</html>
{% endblock %}
